In [1]:
import pandas as pd

df1 = pd.read_csv('./scraper/data/reviews.txt', sep=",", names = ["reviewerId","stars","artistId","artistName","albumId","albumName"])
df = df1[['reviewerId', 'albumId', 'stars']]
print(df.head());

   reviewerId  albumId  stars
0       35915     1922      3
1       58828    16595      3
2       64342      341      5
3       48577      323      3
4       48627    41273      3

In [7]:
import numpy as np

print(df.reviewerId.value_counts().head());
print(df.albumId.value_counts().head());
print(df.stars.value_counts());
total_users = len(np.unique(df["reviewerId"]));
total_albums = len(np.unique(df["albumId"]));
total_reviews = len(df);
print("Total no. of Users = {}".format(total_users))
print("Total no. of Albums = {}".format(total_albums))
print("Total no. of Reviews = {}".format(total_reviews))

25538    13288
57326    10208
64154     9861
40903     9506
32311     9480
Name: reviewerId, dtype: int64
1827    4429
1440    4249
1903    4183
1510    4131
1441    4098
Name: albumId, dtype: int64
4    633386
5    501556
3    404999
2    135471
1     50448
0         5
Name: stars, dtype: int64
Total no. of Users = 19453
Total no. of Albums = 50086
Total no. of Reviews = 1725865

In [51]:
# select reviewers with more than 20 reviews
df1 = df.reviewerId.value_counts().rename_axis('unique_values').reset_index(name='counts')
df1.columns = ['reviewerId', 'count']
df2 = df1.loc[df1['count'] > 20]
df3 = df2['reviewerId'].array
df4 = df.loc[df['reviewerId'].isin(df3)]
print(df4.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1669536 entries, 0 to 1725864
Data columns (total 3 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   reviewerId  1669536 non-null  int64
 1   albumId     1669536 non-null  int64
 2   stars       1669536 non-null  int64
dtypes: int64(3)
memory usage: 51.0 MB
None

In [18]:
df1 = df.reviewerId.value_counts().rename_axis('unique_values').reset_index(name='counts')
df1.columns = ['reviewerId', 'count']
df2 = df1.loc[df1['count'] > 20]
df2.tail()